#edit-box {
    top: 180px;
    left: 165px;
    overflow: hidden;
    min-height: 400px;

}

#preview {
    max-width: 350px;
    max-height: 400px;
}

#dragBox {
    position: absolute;
    z-index: 9;
    cursor: move;
    top: 0px;
    left: 0px;
    /*background-color: #f1f1f1;*/
    /*border: 1px solid #d3d3d3;*/
    /*background-color: #34bf33;*/
}

#tshirt-block {
    min-height: 600px;
    min-width: 630px;
    background-color: #4331bf;
    background-image: url("./img/tshirt_front.jpg");
    background-repeat: no-repeat;
}
