body {
    margin-top: 30px;
}

/*For more info about css selectors. Visit - https://stackoverflow.com/questions/3338680/is-there-a-css-selector-by-class-prefix*/
div[id^="design_area_"], div[id*=" design_area_"] {
    width: 220px;
    height: 350px;
    border: 3px dashed transparent;
    position: absolute;
    top: 110px;
    left: 152px;
}

#design_area_front:hover {
    border: 3px dashed #a211d9;
}

#design_area_back:hover {
    border: 3px dashed #a211d9;
}

div[class^="images_"], div[class*=" images_"] {
    width: 208px;
    height: 117px;
    /*to preserver aspect ratio try - background-size: contain OR cover*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

#tshirt_block {
    position: relative;
    display: inline-block;
}

#white-btn {
    background-color: #f5f5eb;
}

#white-btn:hover {
    background-color: #e4e4da;
}

#green-btn {
    background-color: #34bf33
}

#cost_div {
    display: inline;
}