body {
    padding-bottom: 50px;
}

.avatar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-pic {
    height: 200px;
    width: 200px;
}

.content-wrapper {
    position: relative;
    top: 130px;
    max-width: 800px;
    margin: auto;
}

.discription {
    color: #999;
}

.main-wrapper {
    padding-bottom: 40px;
}

.design-area {
    width: 41.47%;
    height: 44.66%;
    position: absolute;
    top: 17.44%;
    left: 29%;
}
.design-area-back {
    width: 41.47%;
    height: 44.66%;
    position: absolute;
    top: 17.44%;
    left: 29%;
}