.teaser-block {
    position: relative;
}

.teaser-img {
    height: 315px;
    width: 265px;
}

.design-area {
    width: 110px;
    height: 175px;
    position: absolute;
    top: 55px;
    left: 76px;
}

